.header {
    border-bottom: 1px solid var(--border-hr-color);
  
    &__nav {
      display: flex;
    }


    &__nav--contact {
      margin-left: auto;
    }
  }
  .header__nav--nav__links {
    margin-left: 93px;
  }
  
