
   $primary-text-color: #757575;
   $second-text-color: #212121;
   $accent-color: #2196f3;
   $accent-color-second: #188ce8;
   $background-color: #ffffff;
   $title-text-color: #000000;
   $background-color-ft: #2f303a;
   $background-color-btn: #F5F4FA;
   $color-opacity: rgba(255,255,255,0.6);
   $color-shadow-one: rgba(0, 0, 0, 0.12);
   $color-shadow-two: rgba(0, 0, 0, 0.14);
   $color-shadow-three: rgba(0, 0, 0, 0.2);
   $color-fon-image: #e5e5e5;
   $color-bgd-card: #eeeeee;
   $border-hr-color: #ececec;
   $color-clients: #AFB1B8;
   $color-bg-transform: rgba(33, 150, 243, 0.9);
   $color-overly: #c4c4c4;